[submodule "AssetRipper"]
	path = AssetRipper
	url = https://github.com/AssetRipper/AssetRipper
[submodule "AssetRipper.AssemblyDumper"]
	path = AssetRipper.AssemblyDumper
	url = https://github.com/AssetRipper/AssemblyDumper
