**/.vs/
**/*.csproj.user
packages/
**/packages.config
obj
0Bins/
bin
Source
Localizations
!Source/AssetRipper.RuriHook
!Source/Directory.Build.props
AssetRipper.sln
*.user
.idea
**/build/
.vscode
*.blend1
launchSettings.json