[submodule "AssetRipper"]
	path = AssetRipper
	url = https://github.com/AssetRipper/AssetRipper
[submodule "AssetRipper.AssemblyDumper"]
	path = AssetRipper.AssemblyDumper
	url = https://github.com/AssetRipper/AssemblyDumper
[submodule "Tpk"]
	path = Tpk
	url = https://github.com/AssetRipper/Tpk
[submodule "AsmResolver"]
	path = AsmResolver
	url = https://github.com/Washi1337/AsmResolver.git
