**/.vs/
**/*.csproj.user
packages/
**/packages.config
obj
0Bins/
Test/
bin
*.user
.idea
**/build/
.vscode
*.blend1
launchSettings.json
AssetRipper.SourceGenerated.xml
Localizations
AssetRipper.Addressables
AssetRipper.Addressables.Tests
AssetRipper.Assets
AssetRipper.Assets.Tests
AssetRipper.Checksum
AssetRipper.Checksum.Tests
AssetRipper.Decompilation.CSharp
AssetRipper.Decompilation.CSharp.SourceGenerator
AssetRipper.Export
AssetRipper.Export.Modules.Audio
AssetRipper.Export.Modules.Shader
AssetRipper.Export.Modules.Textures
AssetRipper.Export.PrimaryContent
AssetRipper.Export.UnityProjects
AssetRipper.GUI
AssetRipper.GUI.Electron
AssetRipper.GUI.Licensing
AssetRipper.GUI.Localizations
AssetRipper.GUI.SourceGenerator
AssetRipper.Import
AssetRipper.IO.Endian
AssetRipper.IO.Endian.SourceGenerator
AssetRipper.IO.Endian.Tests
AssetRipper.IO.Files
AssetRipper.IO.Files.SourceGenerator
AssetRipper.IO.Files.Tests
AssetRipper.Numerics
AssetRipper.Numerics.Tests
AssetRipper.Processing
AssetRipper.SerializationLogic
AssetRipper.SerializationLogic.Tests
AssetRipper.SourceGenerated.Extensions
AssetRipper.Tests
AssetRipper.Tools.CabMapGenerator
AssetRipper.Tools.DependenceGrapher
AssetRipper.Tools.FileExtractor
AssetRipper.Tools.JsonSerializer
AssetRipper.Tools.MonoBehaviourTester
AssetRipper.Tools.RawTextureExtractor
AssetRipper.Tools.SystemTester
AssetRipper.Tools.TypeTreeExtractor
AssetRipper.Yaml
AssetRipper.Yaml.Tests
Directory.Build.props
Licenses
Smolv
SpirV
UnityEngine
.editorconfig